

#agregarTipoMascota{
    background-color: beige;
}

#fondo{
    background-color:  #2d6961a3;
}

#tigre{
    height: 200px;
    width: 200px;
    margin-left: 770px;
    margin-top: -160px;
}

